<!-- wp:template-part {"slug":"header","theme":"business-growth-x","tagName":"header"} /-->

<!-- wp:pattern {"slug": "business-growth-x/business-growth-x-hero-002"} /-->

<!-- wp:pattern {"slug": "business-growth-x/business-growth-x-featured-007"} /-->

<!-- wp:pattern {"slug": "business-growth-x/business-growth-x-team-001"} /-->

<!-- wp:pattern {"slug": "business-growth-x/business-growth-x-featured-005"} /-->

<!-- wp:pattern {"slug": "business-growth-x/business-growth-x-cta-001"} /-->

<!-- wp:template-part {"slug":"footer","theme":"business-growth-x","area":"footer"} /-->