<!-- wp:template-part {"slug":"header","theme":"business-growth-x","tagName":"header"} /-->

<!-- wp:pattern {"slug": "business-growth-x/business-growth-x-hero-003"} /-->

<!-- wp:pattern {"slug": "business-growth-x/business-growth-x-featured-008"} /-->

<!-- wp:pattern {"slug": "business-growth-x/business-growth-x-featured-006"} /-->

<!-- wp:pattern {"slug": "business-growth-x/business-growth-x-contact-001"} /-->

<!-- wp:pattern {"slug": "business-growth-x/business-growth-x-cta-001"} /-->

<!-- wp:template-part {"slug":"footer","theme":"business-growth-x","area":"footer"} /-->